<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wE loVe doGs!</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Unkempt:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <div id="background-container"></div>
    <div id="app-container">
        <header>
            <img src="/static/img/logo.png" alt="Logo" id="logo">
        </header>

        <div id="dog-frame">
            <img id="dog-image" alt="Random Dog" />
        </div>

        <div id="button-container">
            <button id="fetch-dog">Show me a dog!</button>
        </div>
    </div>
    <script src="/static/js/script.js"></script>
</body>

</html>